html {
  background-color: red;
}

.seize {
  height: 660px;
  width: 606px;

  animation-name: seas;

  animation-duration: 66.6ms;

  animation-iteration-count: infinite;

  animation-fill-mode: both;

  animation-timing-function: ease-in-out;

  animation-direction: normal;

  animation-delay: 0;

  animation-play-state: running;
}

@keyframes seas {
  0% {
    -webkit-transform: scale(0.4) rotateX(180deg) rotateZ(-12deg);
    transform: scale(0.4) rotateX(180deg) rotateZ(-12deg);
  }
  25% {
    -webkit-transform: scale(1) rotateZ(147deg) rotateX(20deg);
    transform: scale(1) rotateZ(47deg) rotateX(20deg);
  }
  50% {
    -webkit-transform: scale(0.2) rotateZ(-97deg) rotateX(200deg);
    transform: scale(0.2) rotateZ(-97deg) rotateX(200deg);
  }
  75% {
    -webkit-transform: scale(0.6) rotateZ(-37deg) rotateX(18deg);
    transform: scale(0.6) rotateZ(-37deg) rotateX(18deg);
  }
  100% {
    -webkit-transform: scale(0.1) rotateY(15deg);
    transform: scale(0.1) rotateY(15deg);
  }
}
